{% extends "base.html" %}
{% block title %}<title>Технологии</title>{% endblock %}
{% block content %}
<h1>Вот что я умею</h1>
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Еще я неплохо знаю английский. Учусь и скоро буду знать больше!
    </p>
  </article>
</div>
{% endblock %} 