{% extends "base.html" %}
{% block title %}<title>Технологии</title>{% endblock %}
{% block content %}
<h1>Вот что я умею</h1>
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        SQL
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p style="text-align: justify; padding: .75rem 1.25rem">
      Еще я неплохо знаю английский (на уровне B2+) и постоянно его совершенствую путем изучения литературы на английском - как технической, так и художественной.
      <br>
      <br>
      Помимо этого, я пишу учебный проект - 
      <a href="https://ruzhova.github.io">сайт-визитка</a>, с помощью которого я осваиваю базовый HTML, CSS и JavaScript. Он обновляется по мере изучения мною новых технологий.
    </p>
  </article>
</div>
{% endblock %} 