{% extends 'base.html' %}
{% load thumbnail %}
{%block title%} <title> Профайл пользователя {{ writer.get_full_name }} </title>{%endblock%}
{%block content%}
<div class="mb-5">        
  <h1>Все посты пользователя {{ writer.get_full_name }} </h1>
  <h3>Всего постов: {{ writer.posts.count }} </h3>
  {%if not_current_user%}
    {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' writer.username %}" role="button"
      >
        Отписаться
      </a>
    {% else%}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' writer.username %}" role="button"
        >
          Подписаться
        </a>
    {% endif %}
  {% endif %}    
  <hr>
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
      {% if post.group.slug %}
        <a href="{% url 'posts:group_list' post.group.slug %}"
        >все записи группы</a>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </hr>
</div>
{%endblock%}